config obinsect config
	option serial /dev/ttyUSB0
	option broker 127.0.0.1
	list obisdefs "/usr/share/obinsect/aidon_v0001.json"
	list obisdefs "/usr/share/obinsect/kfm_001.json"
	list obisdefs "/usr/share/obinsect/kamstrup_v0001.json"

config publish
	option topic "/obinsect/value/power"
	option value "Power"

config publish
	option topic "/obinsect/cumul/energy"
	list value "CumulativeEnergy"
	list value "MeterTime"
	list value "timestamp"

config publish
	option topic "/obinsect/log/debug"
	option value "debug"

config publish
	option topic "/obinsect/log/info"
	option value "info"

config publish
	option topic "/obinsect/log/error"
	option value "error"
